body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #bfd4c6;

  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  font-weight: bold;
  height: 50px;
}

header img {
  height: 30px;
  margin-right: 8px;
}

.icono-usuario {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
  margin-right: 65px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

/* ---- Columna izquierda ---- */
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5f0d2;
  border-radius: 10px;
  padding: 15px;
}

.image-box {
  width: 200px;
  height: 200px;
  background-color: #72b86a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
}

.btn-edit {
  background-color: #72b86a;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

/* Botones debajo de imagen */
.actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #72b86a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5d9958;
}

/* ---- Columna derecha ---- */
.fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #d5f0d2;
  border-radius: 10px;
  padding: 15px;
}

.field {
  background-color: #72b86a;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.field input {
  width: 90%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
}

/* Descripción debajo de los campos */
.description {
  background-color: #72b86a;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.description textarea {
  width: 97%;
  height: 80px;
  border: none;
  border-radius: 6px;
  resize: none;
  padding: 8px;
}
