.auth-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #d8f3d0;
  justify-content: center;
  align-items: center;
}

/* Tarjeta central */
.auth-card {
  background: #fff;
  width: 60%;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}


/* Título grande */
.auth-title {
  background: #7cd36d;
  color: black;
  font-weight: bold;
  padding: 12px 0;
  width: 60%;
  margin: 0 auto 25px auto;
  border-radius: 18px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  font-size: 25px;
}

/* Subtítulo */
.auth-subtitle {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: bold;
}

/* Labels */
.auth-label {
  display: block;
  text-align: left;
  margin-left: 13%;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
}

/* Alerta roja del correo */
.auth-label span {
  color: red;
  font-size: 13px;
}

/* Input con icono */
.input-wrapper {
  display: flex;
  align-items: center;
  background: #e9f5e5;
  width: 70%;
  border: 1px solid #000;
  margin: 5px auto 20px auto;
  padding: 10px 15px;
  border-radius: 22px;
}

.input-wrapper img {
  width: 25px;
  margin-right: 12px;
}

.input-field {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
}
